[run]
source = src
omit =
    src/main.py
    tests/conftest.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
show_missing = True
sort = Name